.main-box{
    width: 100%;
    height: 800px;
    background-color: rgb(255, 255, 255, 0.9);
}
.main-content{
    margin: 0 auto;
    padding: 10% 0 5% 0;
    width: 90%;
    height: 100%;
}
.main-content>h5{
    font-size: 22px;
    text-align: center;
    font-weight: 600;
    color: rgb(57, 57, 113);
} 
.board{
    display: inline-block;
    width: 100%;
    background-color: white;
    margin: 5% auto;
}
.board-form{
    margin: 5%;
}
.board-form span { 
    display: inline-block; 
}
.board-form .col1 { 
    width: 15%; 
    float: left; 
}
.board-form .col2 { 
    width: 85%; 
    float: left; 
}
.board-form li { 
    height: 50px; 
    padding: 12px; 
}
.board-form input { 
    width: 100%; 
    height: 25px; 
}
.board-form .area { 
    height: 155px; 
}
.board-form textarea { 
    width: 100%; 
    height: 130px; 
}
.board-form .email input { 
    width: 150px; 
}
.buttons { 
    text-align: right; 
    margin: 5% 5% 0 0; 
}
.buttons li { 
    display: inline; 
}
.buttons button { 
    width: 120px;
    height: 30px;
    vertical-align: middle;
    margin: 2% 0 2% 0;
    border: none;
    cursor: pointer; 
    color: white;
    border: none;
    border-radius: 5px;
}
.buttons .btn1{
    background-color: #557DE1;
}
.buttons .btn2{
    background-color: #8c8c8c;
}