html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    width: 100%;
    height: 100%;
	line-height: 1;
    height: 100%;
    background-color: rgb(57, 57, 113);
    font-family: 'Pretendard-Regular';
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none!important;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* 회원가입 선택지 */
.login-form{
    width: 100%;
    height: 100%;
    margin: 10vh auto;
    text-align: center;
}
.select-form{
    max-width: 800px;
    min-width: 300px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255, 0.9);
    border-radius: 10px;
}
.select-list{
    width: 90%;
    margin: 0 auto;
    padding: 10%;
    display: flex;
    justify-content: space-between;
}
.company{
    max-width: 250px;
    min-width: 100px;
}
.company img{
    filter: invert(52%) sepia(53%) saturate(569%) hue-rotate(185deg) brightness(90%) contrast(97%); 
    width: 100%;
}
.customer{
    max-width: 250px;
    min-width: 100px;
}
.customer img{
    filter: invert(52%) sepia(53%) saturate(569%) hue-rotate(185deg) brightness(90%) contrast(97%); 
    width: 100%;
}
.select-list a{
    font-size: 20px;
    color: #557DE1;
}

/* 회원가입 폼 */
.signup-form{
    max-width: 700px;
    min-width: 300px;
    margin: 10vh auto;
}
.form-wrap{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.9);
    border-radius: 5px;
}
.back{
    color: rgb(142, 142, 142);
    margin-top: 5%;
    display: block;
}
.form-box{
    width: 70%;
    margin: 0 auto;
    padding: 5% 0 10% 0;
}
.nickname{
    display: flex;
}
.nickname button{
    width: 20%;
    margin-left: 2%;
    border: none;
    border-radius: 5px;
    background-color: rgb(78, 78, 78);
}
.sign-btn{
    margin-top: 5%;
    background-color: #557DE1;
}

@media(max-width: 992px){
    .select-list a{
        font-size: 16px;
    }
    .btn-primary{
        font-size: 16px;
    }
}